#information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bg-color-secundary);
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: left;
    width: 80%;
    border-radius: var(--card-border-radius);
}
.info-card{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding-bottom: .8rem;
    margin-bottom: .8rem;
    border-bottom: 1px solid #444 ;
    width: 100%;    
}
.info-card h3{
    color: var(--text-color-secundary);
    font-size: .8rem;
    margin-bottom: .5rem;
}
.info-card p{
    color: var(--text-color);
    font-weight: bold;
}
.info-card svg{
    background-color: var(--bg-color);
    padding: .4rem;
    width: 2rem;
    height: 2rem;
    border-radius: var(--card-border-radius);
}
#phone-icon{
    color: #21e02a;
}
#mail-icon{
    color: #6ab5b9;
}
#phonepin-icon{
    color: #6ab5b9;
}
.info-card a{
    color: var(--text-color);
    font-weight: bold;
    text-decoration: none;
}
#E-mail{
    font-size: 12px;
}
