#social-network{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}
.social-btn{
    padding: .6rem;
    background-color: var(--bg-color-secundary);
    border-radius: var(--card-border-radius);
    color: #333;
    font-size: 1.rem;

}
#linkedin{
    color: #0072b1;
}
#github{
   color: #111;
}
#instagram{
   color: #bc2a8d;
}

#github:hover{
    background: var(--gradient);  
     color: var(--text-color);
}
#instagram:hover{
    background: var(--gradient);  
     color: var(--text-color);
}
#linkedin:hover{
    background: var(--gradient);  
     color: var(--text-color);
}